.container{
	width: 100%;
	height: 580px;
	margin:0 auto;
}
a{
	text-decoration: none;
	color: #FFFFFF;
}
.nav{
	height: 80px;
background: linear-gradient(315deg, #2E5BFF 0%, #8EA7FF 100%);
	width: 1510px;
	left: 0px;
	top: 0px;
	border-radius: 0px;
	position: absolute;
}
.nav__image{
	height: 60px;
	width: 65px;
	left: 165px;
	top: 10px;
	border-radius: 0px;
	position: absolute;
}
.test{
	position: absolute;
	left: 25px;
	top: -10px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	z-index: 1111;
	color: white;
}
.nav__title{
	height: 27px;
	width: 242px;
	left: 248px;
	top: 27px;
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	color: white;
	line-height: 27px;

}
.header_title{
	position: absolute;
	width: 454px;
	height: 156px;
	left: 197px;
	top: 90px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 39px;
	color: #FFFFFF;
}
.iphons{
	position: absolute;
	width: 720px;
	height: 440px;
	left: 600px;
	top: 140px;
}
.line_under_button{
	height: 3px;
	width: 82px;
	left: 579px;
	top: 54px;
	background: #FFC7D4;
	position: absolute;
}
.header_subtitre{
	position: absolute;
	width: 454px;
	height: 48px;
	left: 197px;
	top: 365px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF
}
.line_under_button2{
	position: absolute;
	width: 75px;
	height: 6px;
	left: 197px;
	top: 329px;
background: linear-gradient(90deg, #FFFFFF 0%, #FF577F 100%);
}
ul li{
   display: inline;
   margin-right: 5px;
   padding: 3px;
}
.nav__button{
	height: 42px;
	width: 170px;
	left: 1110px;
	background: #FF577F;
	position: absolute;
	color: white;
	animation-duration: 0ms;
	animation-timing-function: ease-out;
	animation-duration: 300ms;
	top: 19px;
	border-radius: 50px;
}
.nav__button-1{
	height: 22px;
	width: 119px;
	left: 25px;
	top: 10px;
	position: absolute;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
}
.header{
	height: 500px;
	width: 1510px;
	left: 0px;
	top: 80px;
	position: absolute;
background: linear-gradient(135deg, #2E5BFF 0%, #8EA7FF 100%);
}
.header_title{
	height: 156px;
	width: 454px;
	left: 197px;
	top: 50px;
	color: white;
	position: absolute;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 39px;
}
.header_link{
	position: absolute;
	width: 170px;
	height: 42px;
	left: 197px;
	top: 420px;
}
.regtagle3{
	position: absolute;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	background: #FF577F;
	border-radius: 50px
}
.oznaka{
	position: absolute;
	left: 400px;
	top: 600px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: #007BFF;
}
.immg{
	display: flex;
	flex-direction: column;
	margin-left: 161px;
}
.marcap{
	width: 37px;
	height: 37px;
	margin-top: 700px;
	line-height: 70px;
}
.marcap1{
	width: 37px;
	height: 37px;
	margin-top: 50px;
	line-height: 70px;
}
.marcap2{
	width: 37px;
	height: 37px;
	margin-top: 50px;
	line-height: 70px;
}
.marcap3{
	width: 37px;
	margin-top: 50px;
	height: 37px;
	line-height: 70px;
}
.marcap4{
	margin-top: 50px;
	width: 37px;
	height: 37px;
	line-height: 70px;
}
.marcap5{
	width: 37px;
	height: 37px;
	margin-top: 50px;
	line-height: 70px;
}
.marcap6{
	width: 37px;
	height: 37px;
	margin-top: 50px;
	line-height: 70px;
}
.marcap7{
	width: 37px;
	margin-top: 50px;
	height: 37px;
	line-height: 70px;
}
.marcap8{
	width: 37px;
	margin-top: 50px;
	height: 37px;
	line-height: 70px;
}
.marcap9{
	width: 37px;
	height: 37px;
	margin-top: 50px;
	line-height: 70px;
}
.marcap10{
	width: 37px;
	margin-top: 50px;
	height: 37px;
	line-height: 70px;
}
.sections{
	width: 1200px;
	margin-left: 220px;
}
.text{
	margin-top: -910px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 60px;
	color: #000000;
}
.text1{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 60px;
	color: #000000;
}
.text2{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 60px;
	color: #000000;
}
.text3{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 60px;
	color: #000000;
}
.text4{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 60px;
	color: #000000;
}
.text5{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 60px;
	color: #000000;
}
.text6{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 60px;
	color: #000000;
}
.text7{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 60px;
	color: #000000;
}
.text8{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 40px;
	color: #000000;
}
.text9{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: #000000;
}
.nav__menu1,.nav__menu2,.nav__menu3,.nav__menu4{
	position: absolute;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	top: 27.5px;
}
.nav__menu1{
	height: 20px;
	width: 67px;
	left: 586px;
}
.nav__menu2{
	height: 40px;
	width: 119px;
	left: 673px;
}
.nav__menu3{
	height: 20px;
	width: 138px;
	left: 812px;
}
.nav__menu4{
	height: 20px;
	width: 111px;
	left: 979px;
}


/*footer*/



.tup{
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 39px;
	margin-left: 500px;
	color: #007BFF;
}
.macrappp{
	display: flex;
	flex-direction: column;
}
.marcapp1{
	width: 37px;
	margin-top: 20px;
	margin-left: 161px;
	height: 37px;
	line-height: 70px;
}
.marcapp2{
	width: 37px;
	margin-top: 20px;
	margin-left: 161px;
	height: 37px;
	line-height: 70px;
}
.marcapp3{
	width: 37px;
	margin-top: 20px;
	margin-left: 161px;
	height: 37px;
	line-height: 70px;
}

.marcapp4{
	width: 37px;
	margin-top: 20px;
	margin-left: 161px;
	height: 37px;
	line-height: 70px;
}

.marcapp5{
	width: 37px;
	margin-top: 20px;
	margin-left: 161px;
	height: 37px;
	line-height: 70px;
}

.marcapp6{
	width: 37px;
	margin-top: 20px;
	margin-left: 161px;
	height: 37px;
	line-height: 70px;
}
.marcapp7{
	width: 37px;
	margin-top: 20px;
	margin-left: 161px;
	height: 37px;
	line-height: 70px;
}
.zaleznist,.zaleznist1,.zaleznist2,.zaleznist3,.zaleznist4,.zaleznist5,.zaleznist6,.zaleznist7{
	width: 1060px;
	height: 390px;
	font-family: Montserrat;
	margin-left: 211px;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	color: #000000;
}
.zaleznist{
	margin-top: -380px;
}
.zaleznist1{
	margin-top: -350px;
}
.zaleznist2{
	margin-top: -350px;
	line-height: 30px;
}
.zaleznist3{
	margin-top: -355px;
	line-height: 30px;
}
.zaleznist4{
	margin-top: -355px;
	line-height: 30px;
}
.zaleznist5{
	margin-top: -353px;
	line-height: 30px;
}
.zaleznist6{
	margin-top: -355px;
	line-height: 30px;
}.footer__image{
	height: 71px;
	width: 75px;
	left: 160px;
	top: 66px;
	position: absolute;
}
.footer__siteName{
	height: 32px;
	width: 285px;
	left: 255px;
	color: white;
	top: 85px;
	position: absolute;
	font-family: Montserrat;
	font-size: 26px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px;
	letter-spacing: 0em;
	text-align: left;
}
.footer__photo{
	position: absolute;
	width: 684.95px;
	height: 650px;
	left: 594px;
	top: -76px;
	background: url(logo.png);
	mix-blend-mode: luminosity;
	opacity: 0.1;
}
.menu1{
	height: 213px;
	width: 332px;
	left: 255px;
	top: 172px;
	position: relative;
}
.title1{
	height: 20px;
	width: 173px;
	top: -20px;
	position: absolute;
	font-family: Montserrat;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	color: #636B7C;
}
.link1,.link2,.link3,.link4,.link5{
	font-family: Montserrat;
	font-style: normal;
	position: absolute;
	font-weight: normal;
	font-size: 12px;
	line-height: 20px;
	color: #FFFFFF;
}
.menu2{
	position: absolute;
	width: 265px;
	height: 148px;
	left: 620px;
	top: 172px;
}
.title2{
	position: absolute;
	width: 265px;
	height: 20px;
	top: -20px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	color: #636B7C;
}
.link1,.link2,.link3,.link4,.link5{
	font-family: Montserrat;
	font-style: normal;
	position: absolute;
	font-weight: normal;
	font-size: 12px;
	line-height: 20px;
	color: #FFFFFF;
}
.link1{
	width: 332px;
	height: 20px;
	top: 15px;
}
.link2{
	width: 242.46px;
	top: 55px;
	height: 60px;
}
.link3{
	width: 247.97px;
	height: 20px;
	top: 94px;
}
.link4{
	width: 128.12px;
	height: 40px;
	top: 133px;
}
.link5{
	width: 303px;
	height: 22px;
	top: 190px;
	font-size:15px; 
	color: #636B7C;
}
.linkk1,.linkk2,.linkk3{
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 20px;
	color: #FFFFFF;
}
.linkk1{
	position: absolute;
	height: 20px;
	width: 156px;
	top: 20px;

}
.linkk2{
	position: absolute;
	width: 242.46px;
	top: 60px;
	height: 60px;
}
.linkk3{
	position: absolute;
	width: 247.97px;
	height: 20px;
	top: 104px;
}
.lin1,.lin2,.lin3,.lin4{
	position: absolute;
	font-family: Montserrat;
	font-style: normal;
	font-size: 12px;
	line-height: 20px;
}
.lin1{
	color: #636B7C;
	width: 146px;
	height: 20px;
	font-size: 16px;
	left: 918px;
	top: 137px;
}
.lin2{
	height: 20px;
	width: 309px;
	left: 918px;
	color: white;
	top: 187px;
}
.lin3{
	height: 20px;
	width: 273px;
	left: 918px;
	color: white;
	top: 230px;
}
.lin4{
	height: 20px;
	width: 323px;
	color: white;
	left: 918px;
	top: 278px;
}
.footer{
	height: 500px;
	width: 1510px;
	margin-top: 980px;
	top: 1250px;
	overflow: hidden;
	background: linear-gradient(82.28deg, #3A3A3A 0%, #000000 90.22%),linear-gradient(0deg, #0A0A0A, #0A0A0A);
	position: absolute;
}
.social{
	width: 252px;
	height: 48px;
	position: absolute;
	top: 2580px;
	left: 925px;
}